footer {
    height: 20px;
    width: 100%;
    background: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p{
        margin-right: 30px;
        font-size: 1.5rem;
    }
}
